:global(h1),
:global(h2),
:global(h3) {
  margin-top: 0.9em !important;
}
:global(h1) {
  font-size: 2rem !important;
}
:global(h2) {
  font-size: 1.6rem !important;
}
:global(h3) {
  font-size: 1.2rem !important;
}

.drop-signal {
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.file-select {
  position: static;
}

.example-button {
}

.drop-valid {
  background-color: var(--drop-valid-bg-color);
}

.drop-invalid {
  background-color: var(--drop-invalid-bg-color);
}

.error-text {
  font-family: monospace;
  white-space: pre;
}
.error-bar {
}

.optionsForm {
}

.spinner {
  position: absolute;
  inset: 0px;
  background: var(--bgcolor);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: opacity 0.3s ease-in-out;
}

.spinner[hidden] {
  opacity: 0;
  pointer-events: none;
}
