@import "@primer/primitives/dist/css/base/size/size.css";
@import "@primer/primitives/dist/css/base/typography/typography.css";
@import "@primer/primitives/dist/css/functional/typography/typography.css";
@import "@primer/primitives/dist/css/functional/themes/dark.css";

html,
body {
  background: var(--bgColor-default);
}

#drop {
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
